//
//  Build.xcconfig
//  WhatCopied
//
//  Created by cyan on 2024/12/3.
//
// https://help.apple.com/xcode/#/dev745c5c974

CODE_SIGN_IDENTITY = -
DEVELOPMENT_TEAM =
PRODUCT_BUNDLE_IDENTIFIER = app.cyan.whatcopied-dev

MARKETING_VERSION = 1.1.0
CURRENT_PROJECT_VERSION = 2

#include? "SwiftFlags.xcconfig"
#include? "Local.xcconfig"
